*.pyc
build
.idea
epicslide/.idea
presentation.html
*.pdf
samples/.DS_Store
*.swp
src/epicslide.egg-info/
dist/
*.komodoproject
.komodotools
epicslide.sublime-project
docs/_build
/.project
/.pydevproject
/.settings/org.eclipse.core.resources.prefs
*.egg
*.coverage
.cache
tests/report
